.App {
  border: solid red 5px;
}

.Todo {
  border: solid blue 3px;
  /* text-align: justify; */
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
}

.id {
  background-color: silver;
  margin: 0px;
}

.title {
  margin: 0px;
  background-color: lightsalmon;
  /* text-decoration: line-through; */
}

.status {
  margin: 0px;
  background-color: lightseagreen;
}

.del-btn{
  margin: 0px 0px 0px 10px;
}

.Add{
  border: solid green 3px;
}

.Delete{
  border: solid purple 3px;
  margin: 0px;
}